@page
@model azure_app_aye.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment Slots page";


}

<div class="text-center">
    <h1 class="display-4">Welcome to my app! ♥ ♥ </h1>
    <h3>
        Testing deployment slots.
    </h3>

</div>
